.main-block__error {
    width: 100%;
}

.main-block__error__decoration {
    justify-content: flex-end;
}

.main-block__error__info {
    justify-content: center;
    align-items: center;
}

.main-block__error__info__error-status {
    z-index: 117;
}
  
.main-block__error__info__error-text {
    margin-top: 2%;
    z-index: 118;
}

.main-block__error__info__error-back-button {
    margin-top: 4%;
    border-radius: 4px;
    padding: 15px 40px;
}