.text_size_L {
    font-size: 1.8em;
}

.text_size_M {
    font-size: 1em;
}

.text_form {
    font-size: 1em;
}

.text_size_XM {
    font-size: 1em;
}

.text_size_SL {
    font-size: 1.4em;
}

.text_size_S {
    font-size: 0.6em;
}

.text_size_XL {
    font-size: 120px;
}

.text_size_30px {
    font-size: 120px;
}

@media screen and (max-device-width:480px){
    .text_size_L {
        font-size: 4em;
    }
    .text_size_M {
        font-size: 2.8em;
    }

    .text_form {
        font-size: 1.6em;
    }

    .text_size_XM {
        font-size: 2.6em;
    }
    
    .text_size_SL {
        font-size: 3.6em;
    }
    
    .text_size_S {
        font-size: 2em;
    }
    
    .text_size_XL {
        font-size: 3.4em;
    }
}
