.text_size_L {
    font-size: 1.8em;
}

.text_size_M {
    font-size: 1em;
}

.text_size_SL {
    font-size: 1.4em;
}

.text_size_S {
    font-size: 0.6em;
}

.text_size_XL {
    font-size: 120px;
}

.text_size_30px {
    font-size: 120px;
}

