.display_flex {
  display: flex;
  flex-shrink: initial;
}

.display_flex_row {
  display: flex;
  flex-direction: row;
  flex-shrink: initial;
}

.display_flex_column {
  display: flex;
  flex-direction: column;
  flex-shrink: initial;
}

.display_flex_column_reverse {
  display: flex;
  flex-direction: column-reverse;
  flex-shrink: initial;
}

.display_grow_S {
  flex-grow: 1;
}

.display_grow_M {
  flex-grow: 2;
}

.display_grow_L {
  flex-grow: 10;
  flex-wrap: nowrap;
}

.boxshadow-block {
  box-shadow: 0px 2px 6.44px 0.56px rgba(0, 0, 0, 0.14);
}

.width-100per {
  width: 100%;
}
.width-79vw {
  width: 79vw;
}

.align_center {
  align-items: center;
}

.bottom-fixed {
  position: fixed;
  bottom: 0px;
  margin-bottom: 25px;
}

.top-fixed {
  position: fixed;
  top: 0px;
  margin-top: 25px;
}

@media screen and (max-device-width: 960px) {
  .bottom-fixed {
    position: fixed;
    bottom: 0px;
    margin-bottom: 200px;
  }

  .width-79vw {
    width: 87vw;
  }
}



.max-height-30 {
  max-height: 30%;
}
