.display_flex {
  display: flex;
}

.display_flex_row {
  display: flex;
  flex-direction: row;
}

.display_flex_column {
  display: flex;
  flex-direction: column;
}

.boxshadow-block {
  box-shadow: 0px 2px 6.44px 0.56px rgba(0, 0, 0, 0.14);
}