.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4vw;

    background-color: $main-color;

    &__body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_authorize-js {
        display: none;
    }
}

@media only screen and  (max-device-width: 600px) {
    .header {
        height: $width-mobile-header;
        width: 92vw;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
    }
}
