.main-block__user__user-header {
    width: 100%;
    position: relative;
}

.main-block__user__user-header__button {
    z-index: 50;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.main-block__user__user-header__button_light-blue {
    border-color: rgb(177, 209, 216);
    background-image: -moz-linear-gradient( 90deg, rgb(177, 209, 216) 0%,  rgb(177, 209, 216) 100%);
    background-image: -webkit-linear-gradient( 90deg,  rgb(177, 209, 216) 0%,  rgb(177, 209, 216) 100%);
    background-image: -ms-linear-gradient( 90deg,  rgb(177, 209, 216) 0%, rgb(177, 209, 216) 100%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.22);
}

.main-block__user__user-header__button_light-blue:active {
    background-image: -moz-linear-gradient( 90deg, rgb(177, 209, 216) 0%, rgb(177, 209, 216) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(177, 209, 216) 0%,  rgb(177, 209, 216) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(177, 209, 216) 0%,  rgb(177, 209, 216) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25),inset 0px 1px 6px 0px rgba(80, 31, 16, 0.32);
}

  
.main-block__user__user-header__button_blue {
    border-color: rgb(105, 175, 197);
    background-image: -moz-linear-gradient( 90deg, rgb(105, 175, 197) 0%,   rgb(105, 175, 197) 100%);
    background-image: -webkit-linear-gradient( 90deg,   rgb(105, 175, 197) 0%,   rgb(105, 175, 197) 100%);
    background-image: -ms-linear-gradient( 90deg,  rgb(105, 175, 197) 0%,  rgb(105, 175, 197) 100%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.22);
}

.main-block__user__user-header__button_blue:active {
    background-image: -moz-linear-gradient( 90deg, rgb(105, 175, 197) 0%, rgb(105, 175, 197) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(105, 175, 197) 0%, rgb(105, 175, 197) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(105, 175, 197) 0%,  rgb(105, 175, 197) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25),inset 0px 1px 6px 0px rgba(80, 31, 16, 0.32);
}

.main-block__user__user-header__button_orange {
    border-color: rgb(247, 111, 51);
    background-image: -moz-linear-gradient( 90deg,rgb(247, 111, 51) 0%,   rgb(247, 111, 51) 100%);
    background-image: -webkit-linear-gradient( 90deg,   rgb(247, 111, 51) 0%,   rgb(247, 111, 51) 100%);
    background-image: -ms-linear-gradient( 90deg,  rgb(247, 111, 51) 0%,  rgb(247, 111, 51) 100%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.22);
} 

.main-block__user__user-header__button_orange:active {
    background-image: -moz-linear-gradient( 90deg,  rgb(247, 111, 51) 0%,  rgb(247, 111, 51) 100%);
    background-image: -webkit-linear-gradient( 90deg,  rgb(247, 111, 51) 0%,  rgb(247, 111, 51) 100%);
    background-image: -ms-linear-gradient( 90deg,  rgb(247, 111, 51) 0%,   rgb(247, 111, 51) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25),inset 0px 1px 6px 0px rgba(80, 31, 16, 0.32);
}

.main-block__user__user-header__background {
    
}

.main-block__user__user-header__main-info {
    width: 100%;
    height: 175px;
    z-index: 29;
}

.main-block__user__user-header__img {
    width: 100%;
    height: 240px;
}

.main-block__user__user-header__avatar__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.21);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.main-block__user__user-header__avatar {
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(224, 224, 224) 0%,rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(224, 224, 224) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(224, 224, 224) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25),inset 0px 1px 6px 0px rgba(80, 31, 16, 0.32);

    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 90;
  }
  
 .main-block__user__user-header__main-info__text-info {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 33%;
 } 

 .main-block__user__user-header__main-info__name-and-online {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 5%;
 }

 .main-block__user__user-header__main-info__buttons {
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 20px;
    max-width: 33%;
 }

 .main-block__user__user-header__main-info__text-info__span {
     margin: 1%;
 }

 .main-block__user__user-header__main-info__text-info__username-span {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20%;
    z-index: 50;
 }
  

 .main-block__user__user-header__main-info__text-info__online-status-span {
    font-size: 10px;
    color: rgb(142, 141, 141);
    text-transform: uppercase;
    margin-top: 10px;
    z-index: 50;
 }
  
  