@import "./img_size.css";

.img {
    width: auto;
    min-width: 100%;
    min-height: 100%;
}

.img-avatar {
    border-radius: 10%;
}

.img-radius {
    border-radius: 10%;
}

.img_container {
    overflow: hidden;
}
