.album {
	height: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	&__add-album {
		margin-left: 3rem;
		width: 100%;
		min-width: 400px;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
	}
}
.albums {
	margin-left: 3rem;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

	justify-content: space-around;
	&-card {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		display: flex;
		justify-content: center;
		align-items: center;

		&__link {
			min-width: 400px;
			text-decoration: none;
			width: 26vw;
			height: 25vw;
			flex: 1 1 25vw;
			margin-bottom: 1rem;
			margin-right: 1rem;

			@include transition($transition-speed-very-slow);
			&:hover .albums-card__text {
				@include linear-gradient(
					0,
					$album-gradient-from,
					$album-gradient-to
				);
			}
		}

		&__text {
			@include transition($transition-speed-very-slow);
			background-color: $album-background-color;
			padding: 2rem 3rem;
		}
	}
}

@media only screen and (max-device-width: 1024px) {
	.album__add-album {
		width:103%;
		margin-left: 4rem;
	}
	.albums {
		margin-bottom: 10rem;
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 0;
		&-card {
			&__link {
				margin-left: 1.5rem;
				width: 80vw;
				height: 80vw;
				flex: 1 1 80vw;
			}
		}
	}
}

.add-album {
	position: absolute;
	margin-left: 40rem;
	@include translate(-50%, 50%);

	z-index: 3;
	height: max-content;
	width: 45vw;
	min-width: 540px;
	min-height: 320px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

@media only screen and (max-device-width: 400px) {
	.album__add-album {
		width:97%;
		margin-left: 0;
	}
}

@media only screen and (max-device-width: 1024px) {
	.add-album {
		margin-left: calc(50% - 3.5rem);
		height: max-content;
		width: 75%;
		min-height: 320px;
	}
}
