.main {
    grid-area: main;


    width: calc(100%);
    min-height: calc(100vh);
    max-height: calc(100vh);
    overflow-y: scroll;
    padding: 1.5rem;
}

@media only screen and  (max-device-width: 600px) {
    .main {
        margin-left: 0;
        width: calc(100%);
        position: static;
        min-height: calc(100vh);
        max-height: calc(100vh);
    }
}
