.main {
    grid-area: main;

    min-height: calc(100vh);
    width: calc(100%);
    max-height: calc(100vh);
    overflow-y: scroll;
    padding: 1.5rem;
}

@media only screen and  (max-device-width: 1024px) {
    .main {
        margin-left: 0;
        width: calc(100%);
        position: static;
        max-height: calc(100vh);
    }
}
