.main {
    grid-area: main;
    margin-left: 5rem;

    width: calc(100% - 8rem);
    min-height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    overflow-y: scroll;
    padding: 1.5rem;
}

@media only screen and  (max-device-width: 600px) {
    .main {
        margin-left: 0;
        width: calc(100% - 3rem);
        position: static;
        min-height: calc(100vh - 16rem);
        max-height: calc(100vh - 16rem);
    }
}
