.news {
	overflow-y: scroll;
	height: max-content;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;

	&_posts {
		width: 80%;
		display: flex;
		flex-direction: column-reverse;
		align-self: center;
		min-width: 400px;
		max-width: 1000px;
		margin-bottom: 5rem;
	}

	&_posts-column {
		margin-bottom: 5rem;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-self: center;
		min-width: 400px;
		max-width: 1366px;
	}
}

@media only screen and (max-device-width: 1024px) {
	.news {
		min-height: 0;
		max-height: fit-content;
		&_posts {
			width: 100%;
			margin-bottom: 10rem;
		}
		&_posts-column {
			width: 100%;
		}
	}
}
