.news {
	height: max-content;
	display: flex;
	flex-direction: column;

	&_posts {
		width: 80%;
		display: flex;
		flex-direction: column-reverse;
		align-self: center;
		min-width: 400px;
		max-width: 1000px;
		margin-bottom: 5rem;
	}

	&_posts-column {
		margin-bottom: 5rem;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-self: center;
		min-width: 400px;
		max-width: 1366px;
	}
}

@media only screen and (max-device-width: 1024px) {
	.news {
		&_posts {
			width: 100%;
			margin-bottom: 10rem;
		}
	}
}
