- let dataForLinks = [
-   { name: 'Новости',
-     link: 'news',
-   },
-   { name: 'Друзья',
-     link: 'friends',
-   },
-   { name: 'Сообщения',
-     link: 'messages',
-   },
-   { name: 'Медиатека',
-     link: 'media',
-   },
-   { name: 'Настройки',
-     link: 'settings',
-   },
-   { name: 'Профиль',
-     link: 'profile',
-   }
- ];

.display_flex
    a(href="main", section="main")
        img(src="../../../assets/img/left-block/logo.png" class="img img_size_S display_flex")
.leftBlock__linksBlock.display_flex_column
    each link in dataForLinks
        a(href=link.link, section=link.link class="button button_size_s leftBlock__button button_light text_size_L display_flex")
            img(src="../../../assets/img/left-block/" + link.link + ".png" class="img img_size_XXS display_flex")

