//const loginItems = {
//    classes: ['loginForm'],
//id: 'loginForm',
//formItems: {
//email: {
//title: 'Логин',
//name: 'email',
//placeholder: 'ivan.ivanov@mail.ru',
//type: 'email',
//regExp: /.+@.+\..+/i,
//    errorMsg: 'Некоррекнтый email',
//class: 'formLb',
//fa_item: 'fas fa-at',
//},
//password: {
//title: 'Пароль',
//name: 'password',
//placeholder: '',
//type: 'password',
//regExp: '',
//errorMsg: 'Неправильный логин и/или пароль',
//class: 'formLb',
//fa_item: 'fas fa-key',
//},
//},
//buttonName: 'Войти',
//};

- let dataForLoginForm = [
-   { title: 'Логин',
-     name: 'email',
-     placeholder: 'ivan.ivanov@mail.ru',
-     errorMsg: 'Некорекктный логин',
-     type: 'email',
-     class: 'formLb',
-     fa_item: 'fas fa-at',
-   },
-   { title: 'Пароль',
-     name: 'password',
-     placeholder: '',
-     errorMsg: 'Неправильный логин и/или пароль',
-     type: 'password',
-     class: 'formLb',
-     fa_item: 'fas fa-key',
-   },
- ];

include ./form.pug
+baseForm(data)


