doctype html
html(lang="eng")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, inital-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title TP_Rangers
    body
        h1 Hello world!
        ul
            li
                p Hello1!
                img(src="https://picsum.photos/200/300", alt="h")
            li
                p Hello2!
                img(src="https://picsum.photos/200/300", alt="h")
            li
                p Hello3!
                img(src="https://picsum.photos/200/300", alt="h")