* {
    font-family: Montserrat, sans-serif;
    background-color: #f7f7f7;
}


img {
    filter: grayscale(100%);
}

input {
    display: block;
}

.main_link {
    color: #413f41;
    width: 50%;
    min-height: 20px;
    min-width: 150px;
    margin-top: 10%;
    border: black solid 1px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#application {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 1%;
    margin-top: 2%;
}

.mainMenu {
    display: flex;
    flex-direction: column;
}

.main_link:hover {
    color: black;
}

.postCard {
    border: black solid 1px;
    border-radius: 10px;
    width: 92%;
    min-height: 310px;
    margin-top: 2%;
    padding: 2%;
    margin-left: 2%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
}

.postCardContent {
    display: flex;
    flex-direction: row;
}

.image {
    width: 50%;
    max-width: 200px;
    margin: 1%;
    display: flex;
}

.postName {
    font-size: 1.4em;
    margin-left: 1%;
    display: flex;
}

.postText {
    font-size: 1em;
    display: flex;
}

.userName {
    font-size: 1.2em;
    display: block;
}

.dateOfBUser {
    font-size: 0.7em;
    color: #383838;
}

.dateOfBLabel {
    font-size: 0.7em;
    color: #383838;
}

.userAvatar {
    display: flex;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.userSettings {
    font-size: 0.7em;
    color: #383838;
    margin-right: 4%;
}

.userSettings:hover {
    color: black;
}

.topDataForUserProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}


.nameAndDateForUserProfile {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
}