input {
    display: block;
}


.main_link {
    color: #22a3ff;
    width: 50%;
    min-height: 20px;
    margin-right: 50%;
    margin-top: 10%;
    transform: translate(50%, -50%);
    text-align: center;
    border: #1654ff solid 1px;
    border-radius: 100px;
    display: block;
}

.main_link:hover {
    color: #1654ff;
}