@import "./utils/button/button.css";
@import "./utils/layout/layout.css";
@import "./utils/properties/display.css";
@import "./utils/text/text.css";
@import "./utils/img/img.css";
@import "./utils/actions/action.css";
@import "./utils/form/form.css";
@import "./utils/input/input.css";
@import "./utils/error/error.css";
@import "./utils/hr/hr-line.css";
@import "./utils/post/post.css";
@import "./utils/icons/icon.css";

@import "./modules/left-block/left-block.css";
@import "./modules/main-block/main-block.css";
@import "./modules/right-block/right-block.css";


:root {
  --main-color: rgb(212, 224, 227);
  --secondary-color: rgb(243, 243, 243);
  --like-color: rgb(250, 103, 103);
  --commit-color: rgb(133, 190, 212);
  --reply-color: rgb(105, 212, 180);
  --icon-color: rgb(104, 104, 104);
  --icon-color-hover:  rgb(133, 190, 212);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html, body {
  overflow: auto;
  
}


.app {
  min-height: 100vh;
  align-items: stretch;
}