@import "./utils/button/button.css";
@import "./utils/layout/layout.css";
@import "./utils/properties/display.css";
@import "./utils/text/text.css";
@import "./utils/img/img.css";
@import "./utils/actions/action.css";
@import "./utils/form/form.css";
@import "./utils/input/input.css";
@import "./utils/error/error.css";
@import "./utils/hr/hr-line.css";
@import "./utils/post/post.css";
@import "./utils/icon/icon.css";

@import "./modules/left-block/left-block.css";
@import "./modules/main-block/main-block.css";
@import "./modules/right-block/right-block.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --main-color: rgb(212, 224, 227);
  --secondary-color: rgb(243, 243, 243);
  --mobile-main-color:  rgb(243, 243, 243);
  --mobile-secondary-color: rgb(252, 252, 252);
  --like-color: rgb(250, 103, 103);
  --commit-color: rgb(133, 190, 212);
  --reply-color: rgb(105, 212, 180);
  --icon-color: rgb(104, 104, 104);
  --icon-in-button-color:  rgb(226, 226, 226);
  --icon-color-hover:  rgb(133, 190, 212);
  --medium-screen-w:  1024px;
  --small-screen-w:  960px;
}


* {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
}

html, body {
  overflow: auto;
  min-height: 100%;
}


.app {
  min-height: max-content;
  align-items: stretch;
}


@media screen and (max-device-width: 960px){
  .app {
    margin:  0 auto;
    justify-content: space-between;
    min-height: 100%;
    flex-direction: column-reverse;
  }
}
