.main-block__dialogs {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dialogs-body {
    align-content: space-between;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dialog-card__body {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.main-block__dialog-card {
    width: 100%;
    margin-bottom: 20px;
}

.dialog-card__img {
    margin-right: 20px;
}

.dialog-card__body__username {
    margin-bottom: 5px;
    color: black;
}

@media screen and (max-width: 1024px){
    .dialogs-body {
        min-width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-block__dialog-card {
        max-width: 90%;
        min-width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (max-device-width: 960px){
    .dialogs-body {
        max-width: 90%;
        min-width: 90%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-block__dialogs {
        min-width: 100%;

    }

    .main-block__dialog-card {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 20px;
        align-items: flex-start;
    }

}
