div(class='add-album box-shadow layout_color_main add-photo-js hidden')
    div(class='add-post__header')
        span(class='text text_color_for-buttons text_uppercase text_size_1-2rem') Добавить фотографию
        i(class='link__no_speed close-add-photo-js text text_color_for-buttons text_size_2rem fas fa-times-circle')
    div(class='add-post__body')
            form(class='form__input-holder' id='add-photo-form-js')
                input(class='add-post__body__input input text text_color_normal text_size_1-2rem' type='file' name='photo' true, id='photo' placeholder='Загрузть новую фотографию')
                span(class='text error hidden' id='add-album-error') Текст ошибки будет тут
                input(type="submit", value='Добавить фотография' id='add-photo-submit' class="input__button login__input__button button button_primary text text_color_for-buttons text_size_1-2rem")