div(class="emoji-container box-shadow display-none" id='js-emodji-container')
    -for (let i = 128512; i < 128567; ++i)
        i(class="js-emodji link text text_size_2rem text_color_normal emodji" symbol='&#'+i) &##{i}

