mixin friendMixin(data)
    div(class='friend-card box-shadow layout_color_main')
        div(class='img friend-card__avatar')
            img(class='friend-card__avatar__img' src=data.avatar)
        div(class='friend-card__body')
            div(class='friend-card__body__name-and-online')
                span(class='text text_size_1-2rem text_color_normal') #{data.name} #{data.surname}
                if data.online
                    span(class='text text_uppercase text_color_normal') В сети
                else
                    span(class='text text_uppercase text_color_normal') Не в сети
            a(class='friend-card__body__send-message text_size_0-8rem link text text_color_normal') Написать сообщение