mixin searchMixin(data)
    div(class="box-shadow layout_color_main search")
        form(action="#", id="js-search-form")
            input(type="text", name="search", id="js-search", placeholder="Поиск" class="js-search-input input search__input text text_color_normal text_size_1-2rem")
