mixin friendCardMixin(data)
    div(class="main-block__friend-card boxshadow-block main-block__layout layout_light_secondary display_flex")
        img(class="img img_size_S friend-card__img display_flex" src=data.avatar)
        div(class="friend-card__body display_flex_row")
            a(class="text text_size_XM friend-card__body__username" href='user/' + data.id section='user/' + data.id) #{data.name} #{data.surname}
            if (data.online)
                span(class="text text_size_S text_weight_light text_uppercase") В сети
            else
                span(class="text text_size_S text_weight_light text_uppercase") не в сети