mixin friendCardMixin(data, canAdd)
    div(class="main-block__friend-card boxshadow-block main-block__layout layout_light_secondary display_flex")
        img(class="img img_size_S friend-card__img display_flex" src=data.avatar)
        div(class="friend-card__body display_flex_row")
            a(class="text text_size_XM friend-card__body__username" href='user/' + data.url section='user/' + data.url) #{data.name}
            if canAdd
                div(class="display_flex_column dialog-card__info")
                    i(class="text text_size_L js-add-login js-don't-prevent icon icon__color__main fas fa-plus-circle" login=data.url)
            else
                if (data.online)
                    span(class="text text_size_S text_weight_light text_uppercase") В сети
                else
                    span(class="text text_size_S text_weight_light text_uppercase") не в сети
