mixin messageInputMixin()
    div(class="bottom-fixed width-79vw max-height-30 display_flex boxshadow-block main-block__layout layout_light_secondary")
        form(action="#", class="width-100per display_flex display_flex_column", id="js-message-form")
            div(class="form__comment-and-icon display_flex_row")
                div(class="input__icon-container  display_flex")
                    i(class="input__icon display_flex form__input__icon fa fa-commenting-o ")
                textarea(type="text", name="message", required, id="js-message",placeholder="Написать сообщение" class="input form__textarea form__input display_flex")
            div(class="form__buttons-group display_flex")
                input(type="submit", class="button button_light-blue form__button")
