mixin searchMixin(data)
    div(class="main-block__media__header display_flex boxshadow-block main-block__layout layout_light_secondary")
        form(action="#", class="display_flex input__search-form", id="js-search-form")
            input(type="text", name="search", required, id="js-search",placeholder="Поиск" class="js-search-input input form__input display_flex")
