mixin userAddPostMixin()
    div(class="boxshadow-block main-block__user__user-add-post main-block__layout layout_light_secondary display_flex_row")
        span(class="text text_size_M text_color_black text_uppercase") Новая запись
        a(href="createPost", section="createPost" class="display_flex")
            <i class="text text_size_L icon icon__color__main fas fa-plus-circle"></i>
