div(class="main-block__error display_flex_column")
    div(class="main-block__error__decoration display_flex_row")
        img(src="../../assets/img/error-page/rocket.png" class="img display_flex")
    div(class="main-block__error__info display_flex_column")
        span(class="text text_color_gray text_size_XL text_weight_bold text_uppercase main-block__error__info__error-status display_flex") #{status}
        span(class="text text_color_gray text_size_L text_uppercase main-block__error__info__error-text display_flex") #{text}
        if (backButton)
            span(class="text button_orange main-block__error__info__error-back-button display_flex") Обратно
