include ../utils/searchMixin
div(class="main-block__friends display_flex_column")
    div(class=" hidden hr-line")
    span(class="text text_size_L friends-header") Выберите участников чата
    div(class="hidden hr-line")
    +searchMixin()

