doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title 'TP_Rangers'
        meta(name="description", content=description)
        link(rel="shortcut icon" href="../../assets/img/favicon.ico" type="image/x-icon")
        block head
    body
        #application(class="app display_flex")
            include ../layout/main