doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title 'TP_Rangers'
        meta(name="description", content=description)
        block head
    body
        #application(class="app display_flex_row")
            include ../layout/main