doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title 'new_design'
        meta(name="description", content=description)
    body
        #app(class="grid-container")
            include ../layout/layout
        div(class='blur-background-js hidden' id='blur-background-js')
