-const loginFormData = {
-    classes: ['form form_light login-form'],
-    id: 'js-login-form',
-    formItems: {
-       email: {
-           title: 'Логин',
-           name: 'email',
-           placeholder: 'ivan.ivanov@mail.ru',
-           type: 'email',
-           errorMsg: 'Некоррекнтый email',
-           class: 'form__label',
-           fa_item: 'fas fa-at',
-       },
-       password: {
-           title: 'Пароль',
-           name: 'password',
-           placeholder: '',
-           type: 'password',
-           errorMsg: 'Неправильный логин и/или пароль',
-           class: 'form__label',
-           fa_item: 'fas fa-key',
-       },
-    },
-    buttonName: 'Войти',
-    secondButtonName: 'Регистрация',
-};



include ../utils/formMixin
+baseForm(loginFormData)


