- let data = {
-   posts: [
-       {
-           photo: 'https://picsum.photos/200/800',
-           title: 'Hello',
-           text: 'Voluptate adipisicing ad ullamco enim sit incididunt veniam nostrud reprehenderit dolore duis ex. Qui minim sint amet id veniam sunt dolore exercitation magna laboris aliquip sit reprehenderit irure. Est pariatur sint aliquip non labore. Deserunt in ea ea pariatur ut velit esse sunt incididunt consequat minim quis excepteur reprehenderit. Non incididunt exercitation labore sunt velit amet do in labore anim eiusmod.',
-           like: 10,
-           comment: 12
-       },
-       {
-           photo: 'https://picsum.photos/800/200',
-           title: null,
-           text: 'Voluptate adipisicing ad ullamco enim sit incididunt veniam nostrud reprehenderit dolore duis ex. Qui minim sint amet id veniam sunt dolore exercitation magna laboris aliquip sit reprehenderit irure. Est pariatur sint aliquip non labore. Deserunt in ea ea pariatur ut velit esse sunt incididunt consequat minim quis excepteur reprehenderit. Non incididunt exercitation labore sunt velit amet do in labore anim eiusmod.',
-           like: 10,
-           comment: 12
-       },
-       {
-           photo: 'https://picsum.photos/200/200',
-           title: null,
-           text: null,
-           like: 10,
-           comment: 12
-       },
-       {
-           photo: null,
-           title: 'Hello',
-           text: 'Voluptate adipisicing ad ullamco enim sit incididunt veniam nostrud reprehenderit dolore duis ex. Qui minim sint amet id veniam sunt dolore exercitation magna laboris aliquip sit reprehenderit irure. Est pariatur sint aliquip non labore. Deserunt in ea ea pariatur ut velit esse sunt incididunt consequat minim quis excepteur reprehenderit. Non incididunt exercitation labore sunt velit amet do in labore anim eiusmod.',
-           like: 10,
-           comment: 12
-       },
-       {
-           photo: 'https://picsum.photos/400/400',
-           title: 'Hello',
-           text: null,
-           like: 10,
-           comment: 12
-       },
-   ],
-}

include ../mixins/postMixin
include ../mixins/searchMixin

if main
    div(class='news page')
        div(class='messages__header box-shadow layout_color_main')
            span(class='text text_uppercase text_size_1-2rem text_color_normal') Новости
        div(class='news_posts')
            each post in feed
                + postCard(post, true)
