-const regFormItems = {
-    classes: ['form reg-form'],
-    id: 'js-reg-form',
-    formItems: {
-       username: {
-           title: 'Ваше имя',
-           name: 'username',
-           placeholder: 'Иван Иванов',
-           type: 'text',
-           errorMsg: 'Некорректное имя пользователя',
-           class: 'form__label',
-           fa_item: 'fas fa-user',
-           required: true
-       },
-       email: {
-           title: 'Email',
-           name: 'email',
-           placeholder: 'ivan.ivanov@mail.ru',
-           type: 'email',
-           errorMsg: 'Пользователь с таким email уже существует',
-           class: 'form__label',
-           fa_item: 'fas fa-at',
-           required: true
-       },
-       phone: {
-           title: 'Телефон',
-           name: 'phone',
-           placeholder: '+7 910 777 77 77',
-           type: 'text',
-           errorMsg: 'Некорректный телефон',
-           class: 'form__label',
-           fa_item: 'fas fa-phone',
-           required: true
-       },
-       date: {
-           title: 'Дата рождения',
-           name: 'date',
-           type: 'date',
-           errorMsg: 'Некорректная дата',
-           class: 'form__label',
-           fa_item: 'fas fa-birthday-cake',
-           required: true
-       },
-       password: {
-           title: 'Пароль',
-           name: 'password',
-           placeholder: '',
-           type: 'password',
-           errorMsg:
-           'Пароль должен содержать одну заглавную, одну строчную букву, цифру и не менее 8 симвлолов',
-           class: 'form__label',
-           fa_item: 'fas fa-key',
-           required: true
-       },
-       passwordRepeat: {
-           title: 'Повторите пароль',
-           name: 'password-repeat',
-           placeholder: '',
-           type: 'password',
-           errorMsg: 'Пароли не совпадают',
-           class: 'form__label',
-           fa_item: 'fas fa-key',
-           required: true
-       },
-    },
-    buttonName: 'Регистрация',
-    secondButtonName: 'Обратно',
-};


include ../utils/formMixin
+baseForm(regFormItems)
