-const postFormData = {
-    classes: ['form form_light login-form'],
-    id: 'js-post-form',
-    formItems: {
-       post: {
-           title: 'Название',
-           name: 'post',
-           placeholder: '',
-           type: 'text',
-           errorMsg: 'Обязательное поле',
-           class: 'form__label',
-           fa_item: 'fas fa-heading',
-       },
-       photo: {
-           title: 'Загрузите фото',
-           name: 'photo',
-           type: 'file',
-           class: 'form__label',
-           fa_item: 'fas fa-camera-retro',
-        },
-       text: {
-           title: 'Чем вы хотите поделиться?',
-           name: 'text',
-           placeholder: '',
-           type: 'textarea',
-           errorMsg: 'Обязательное поле',
-           class: 'form__label',
-           fa_item: 'fas fa-align-justify',
-       },
-    },
-    buttonName: 'Создать пост',
-};

include ../utils/formMixin
+baseForm(postFormData)
