include ../utils/userHeaderMixin
include ../utils/userSmallMediaMixin
include ../utils/postMixin
include ../utils/userAddPostMixin

- // С этим работает...
-  // let fakeUserData = { name: name, surname: surname, online: online, avatar: avatar, background: background, phone: phone, email: email, dateOfB: dateOfB, 
-  // media: media,
-  // posts: posts};

div(class="main-block__user")
    - console.log(fakeUserData)
    + userHeader(fakeUserData)
    div(class="display_flex_row")
        div(class="main-block__left-block display_grow_L display_flex_column")
            each post in fakeUserData.posts
                + postMixin(post)
        div(class="display_grow_S display_flex_column")
            div(class="main-block__block display_flex_row")
                + userAddPostMixin()
            div(class="main-block__block display_flex_row")
                + userSmallMediaMixin(fakeUserData)