.form {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-width: 320px;

    &__input-holder {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and  (max-device-width: 1024px) {
    .form {
        justify-content: flex-start;
        margin-left: 1.7rem;
    }
}
