.page {
    width: 70rem;
    margin-left: calc(50% - 35rem);
    min-width: 70rem;
    min-height: calc(90vh - 2rem);
    max-height: calc(90vh - 2rem);
}


@media only screen and  (max-device-width: 600px) {
    .page {
        margin-left: 2rem;
        width: 90%;
        min-height: calc(100vh - 8em);
        max-height: calc(100vh - 8rem);
    }

}
