* {
    font-family: Montserrat, sans-serif;
    background-color: #f7f7f7;
}

input {
    display: block;
}

#application {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
.mainLink {
    color: #413f41;
    min-width: 150px;
    min-height: 20px;
    display: flex;
    justify-content: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
}

.mainLink:hover {
    color: black;
}

.postCard {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    width: 94%;
    min-height: 310px;
    margin-right: 4%;
    margin-top: 2%;
    display: block;
    padding: 1%;
}

.image {
    width: 50%;
    max-width: 200px;
    margin: 1%;
    float: left;
}

.postName {
    font-size: 1.4em;
    width: 56%;
}

.postText {
    font-size: 1em;
    margin-left: 1%;
    margin-right: 1%;
}

.rightBlockProfile {
    margin-top: 2%;
    width: 74%;
    float: right;
}

.leftBlockProfile {
    margin-top: 2%;
    width: 24%;
    float: left;
}

.userName {
    font-size: 1.2em;
    display: block;
}

.dateOfBUser {
    font-size: 0.7em;
    color: #383838;
}

.dateOfBLabel {
    font-size: 0.7em;
    color: #383838;
}

.userAvatar {
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.userSettings {
    font-size: 0.7em;
    color: #383838;
    float: right;
    margin-right: 4%;
}

.userSettings:hover {
    color: black;
}


.topUserDataBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userData {
    display: flex;
    flex-direction: column;
}

.settingsLinkProfilePage, .back_link {
    display: flex;
    margin: 1% 4%;
    color: #413f41;
}

.settingsLinkProfilePage:hover, .back_link:hover{
    color: black;
}

.mainPage {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.mainLeftBlock {
    height: 100%;
    width: 12%;
    min-width: 120px;
    display: flex;
    margin-top: 3%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 4%;
}

.mainRightBlock {
  margin-bottom: 4%;
  margin-top: 2%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.header {
    display: flex;
    width: 100vw;
    height: 50px;
    opacity: 90%;
    background-color:#77a1c7;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
}

.logRegLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #77a1c7;
    min-height: 50px;
    color: #1b1a1b;
}

.logRegLink:hover {
    color: black;
}
.newsFeed {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.mainRightBlock.loginForm {
  align-items: center;
}

.loginForm {
  display: flex;
  min-width: 500px;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
}

div.formLb {
  margin-top: 4%;
  margin-bottom: 2%;
}

.inputIcons {
  display: flex;
  flex-direction: row;
  width: 40vw;
  border: #c7c7c7 solid 1px;
  margin-bottom: 4%;
}

.icon {
  padding-top: 12px;
  padding-left: 15px;
  min-width: 30px;
  border-right: #c7c7c7 solid 1px;
}

.inputField {
  width: 88%;
  height: 20px;
  padding: 10px;
  text-align: left;
  border: none;
  outline:none;
}

.anim {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.err>.tooltip {
  position: relative;
  background: #ff3466;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: #FFF;
}

.correct>.tooltip {
  position: relative;
  background: transparent;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 100%;
  color: #18b130;
}

.correct>.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:   transparent transparent transparent transparent;
  top: -15px;
  transform: translateY(20px);
}

.correct>.tooltip:after {
  content: attr(data-tooltip);
  background:  transparent;
  width: 160px;
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}


.err>.tooltip:after {
  content: attr(data-tooltip);
  background: #ff3466;
  width: 160px;
  height: auto;
  font-size: 13px;
  font-weight: 300;
  top: -15px;
  left: 75px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(50%);
}

.err>.tooltip:hover::before,
.err>.tooltip:hover::after {
  opacity: 1;
  transform: translateY(2px);
}


@keyframes shake {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.anim:hover {
  animation: shake 500ms ease-in-out forwards;
}

.buttonInForm {
  height: 50px;
  width: 50%;
  margin-top: 2%;
  min-height: 50px;
  outline: none;
}

.buttonInForm:active {
  background: #77a1c7;
}

.formBody {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  padding: 4%;
}

.formName {
  margin: 4%;
  font-size: 1.4em;
}
