include ../../../Normalize/includes/buttonMixin
div(id="notfound")
  div(class="notfound")
    div(class="notfound-404")
      h1 Oops!
      h2 Обнаружена ошибка #{errStatus}

  //a(href="news",section = "news", id="errorBtn") Обратно на главную страницу

