mixin header(isAuth)
    header(class='header box-shadow')
        div(class='header__body')
            if isAuth
                a(class='link text link__button text_color_normal text_size_1-2rem' href='login' section='login') Вход
                a(class='text text_color_for-buttons text_size_1-2rem button button_primary' href='register' section='register') Регистрация
