#left-block.left-block.layout.display_flex_column.layout_light_secondary
#main-block.main-block.main-block__layout.display_flex_column.layout_light_main
#right-block.right-block.layout.display_flex_column.layout_light_secondary
