.main-block__media {
    width: 100%;
    align-items: center;
}

.media-body {
    align-items: flex-start;
    justify-content: space-around;
    min-width: 86vw;
    max-width: 89vw;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-block__album-card {
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    margin-bottom: 20px;
    background-color: var(--secondary-color, rgb(243, 243, 243));
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}


.album-card__body__text {
    z-index: 1000;
    text-align: center;
}

.album-card__body {
    outline: 3vw solid var(--secondary-color, rgb(243, 243, 243));
    border: 1px solid var(--icon-color, rgb(104, 104, 104));
    padding: 2vw 3vw;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    width: max-content;
    height: max-content;
}    

.album-card__text {
    font-size: 1.6em;
}
@media screen and (max-width:1024px) {
    .main-block__album-card {
        width: 40vw;
        height: 40vw;
    }
    .album-card__body {
        outline: 4vh solid var(--secondary-color, rgb(252, 252, 252));
        border: 1px solid var(--icon-color, rgb(104, 104, 104));
    } 
    .main-block__album-card {
        background-color: var(--secondary-color, rgb(252, 252, 252));
    }
    .album-card__text {
        font-size: 2em;
    }
    .media-body {
        padding-bottom: 10vh;
    }
}

@media screen and (max-device-width:1024px) {
    .main-block__album-card {
        width: 40vw;
        height: 40vw;
    }
    .album-card__body {
        outline: 4vh solid var(--secondary-color, rgb(252, 252, 252));
        border: 1px solid var(--icon-color, rgb(104, 104, 104));
    } 
    .main-block__album-card {
        background-color: var(--secondary-color, rgb(252, 252, 252));
    }
    .album-card__text {
        font-size: 2em;
    }
    .media-body {
        padding-bottom: 10vh;
    }
}

@media screen and (max-device-width:960px) {
    .main-block__album-card {
        width: 90vw;
        height: 90vw;
    }
    .album-card__body {
        outline: 5vh solid var(--mobile-secondary-color, rgb(252, 252, 252));
        border: 1px solid var(--icon-color, rgb(104, 104, 104));
    } 
    .main-block__album-card {
        background-color: var(--mobile-secondary-color, rgb(252, 252, 252));
    }
    .album-card__text {
        font-size: 4em;
    }
    .media-body {
        padding-bottom: 10vh;
    }
}