.main-block__album {
    min-width: 100%;
    align-items: center;
}

.album-body {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-block__photo {
    margin-bottom: 20px;
}

.main-block__photo__img {
    width: auto;
    min-height: 25vw;
    max-height: 25vw;
}

@media screen and (max-width:1024px)  {
    .main-block__photo__img {
        min-height: 50vw;
        max-height: 50vw;
    }
}

@media screen and (max-device-width:1024px) {
    .main-block__photo__img {
        min-height: 50vw;
        max-height: 50vw;
    }
}

@media screen and (max-width:960px) {
    .album-body {
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .main-block__photo__img {
        min-height: 80vw;
        max-height: 80vw;
    }
}

@media screen and (max-device-width:960px) {
    .album-body {
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .main-block__photo__img {
        min-height: 85vw;
        max-height: 85vw;
    }
}
