$main-color: rgb(255, 255, 255);
$secondary-color: rgb(241, 245, 247);
$main-gradient-from: rgb(7,167,227);
$main-gradient-to: rgb(50,218,195);
$my-message-color: rgb(228, 240, 245);
$other-message-color: rgb(255, 255, 255);
$transition-speed: 500ms;
$transition-speed-very-slow: 1000ms;
$transition-speed-fast: 200ms;

$text-color: rgb(165, 165, 165);
$background-blur-color: rgba(165, 165, 165, 0.5);
$error-color: rgb(247, 109, 109);
$font-stack: RobotoRegular, sans-serif;

$height-header: 80px;
$width-sidenav: 6rem;
$width-mobile-header: 6vh;

$like-color: rgb(247, 109, 109);
$like-active: rgb(214, 71, 71);

$album-background-color: rgba(165, 165, 165, 0.7);
$album-gradient-from: rgba(7,167,227, 0.6);
$album-gradient-to: rgba(50,218,195, 0.6);
